<!DOCTYPE html>
<html>
    <head>
        <title>Spotify Recommendation Generator</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>